<div class="workout-container">
  <header>
    <h1 class="title">{{ workout?.date | date: 'longDate' }}</h1>
    <button mat-icon-button color="primary" (click)="addExercise()" style="color: #43a047">
      <mat-icon>add</mat-icon>
    </button>
  </header>
  <mat-action-list style="max-width: 400px; margin: 0 auto">
    <mat-list-item
      *ngFor="let ex of exercises"
      class="exercise-card is-focusable"
      role="button"
      tabindex="0"
      (click)="onExerciseClick(ex)"
      (keydown.enter)="onExerciseClick(ex)"
      (keydown.space)="onExerciseClick(ex); $event.preventDefault()"
    >
      <div class="exercise-name" [ngClass]="{ 'exercise-name--has-sets': hasSets(ex.sets) }">
        {{ ex.exercise.name }}
      </div>
      <!-- Only display sets if they exist -->
      <div class="exercise-sets" *ngIf="hasSets(ex.sets)">
        <div *ngFor="let set of parseSets(ex.sets)">
          <strong>{{ set.weight }}lbs</strong>&nbsp;<span>{{ set.reps }} reps</span>
        </div>
      </div>
    </mat-list-item>
  </mat-action-list>

  <button class="add-exercise-button" mat-raised-button color="primary" (click)="addExercise()">
    Add Exercise
  </button>
  <!-- TODO: Add notes -->
  <!-- <p><strong>Notes:</strong> {{ workout?.notes || 'No notes' }}<br /></p> -->
</div>
