<div>
  <nav class="container">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
      ><img src="/images/fitlog_short_sm.png" alt="fitlog home" />
    </a>
    <!-- <a *ngIf="userSession.isLoggedIn()" routerLink="/workouts" routerLinkActive="active"
      >Workouts</a
    > -->
    <!-- <a *ngIf="userSession.isAdmin()" routerLink="/users" routerLinkActive="active">Users</a> -->
    <a
      class="nav-link yellow-stroke"
      *ngIf="!userSession.isLoggedIn()"
      routerLink="/login"
      routerLinkActive="active"
      >Login</a
    >
    <button
      *ngIf="userSession.isLoggedIn()"
      class="nav-link yellow-stroke"
      (click)="logout()"
      (keyup.enter)="logout()"
      type="button"
    >
      Logout
    </button>
  </nav>
</div>
