div {
  border-bottom: 1px solid var(--gray);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
}

img {
  height: 50px;
}

.nav-link {
  border: none;
  cursor: pointer;
  background: none;
  &:hover {
    text-decoration: underline;
  }
}
