main {
  max-width: 24rem;
  text-align: center;
  margin: 2em auto;
}

.increment-button {
  color: var(--black);
  border-radius: 0;
  width: 2rem;
  height: 2rem;
  border: none;

  .mat-icon {
    left: -0.25rem;
    top: -0.2rem;
  }
  .mat-mdc-button-persistent-ripple {
    border-radius: 0;
  }
}
.increment-button:hover ::ng-deep .mat-mdc-button-persistent-ripple::before,
.increment-button:hover ::ng-deep .mat-ripple-element {
  // hover dimmed background
  border-radius: 0;
}

.increment-input {
  input {
    text-align: center;
    width: 80%;
    height: 2rem;
    outline: none;
    border: none;
    border-right: 2px solid var(--black);
    border-left: 2px solid var(--black);
  }
}
.increment-input__buttons {
  margin-top: 0.5rem;
  display: flex;
  border: 2px solid var(--black);
}

.label {
  font-size: 1em;
  font-weight: bold;
}

.add-sets-inputs {
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin-bottom: 1.5em;
}

.primary-buttons {
  button {
    margin: 1em 0.5em;
  }
}

.sets-container {
  border: 1px solid var(--gray);
  margin-bottom: 1em;
  > div {
    border-bottom: 1px solid var(--gray);
    position: relative;
    padding: 1em;
    &:last-child {
      border-bottom: none;
    }
    button {
      position: absolute;
      right: 0.5em;
      top: 0.22em;
    }
  }
}
