<main>
  <h1 class="title">Add Sets: {{ exerciseName }}</h1>

  <div class="add-sets-inputs">
    <!-- Weight input -->
    <div class="increment-input increment-input--weight">
      <span class="label">Weight (lbs):</span>
      <div class="increment-input__buttons">
        <button
          mat-icon-button
          color="primary"
          class="increment-button"
          aria-label="Decrease weight"
          (click)="decrementWeight()"
        >
          <mat-icon>remove</mat-icon>
        </button>
        <input matInput type="number" [(ngModel)]="weight" />
        <button
          mat-icon-button
          class="increment-button"
          color="primary"
          aria-label="Increase weight"
          (click)="incrementWeight()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>

    <!-- Reps input -->
    <div class="increment-input increment-input--reps">
      <span class="label">Reps:</span>
      <div class="increment-input__buttons">
        <button
          mat-icon-button
          color="primary"
          class="increment-button"
          aria-label="Decrease reps"
          (click)="decrementReps()"
        >
          <mat-icon>remove</mat-icon>
        </button>
        <input matInput type="number" [(ngModel)]="reps" />
        <button
          mat-icon-button
          color="primary"
          class="increment-button"
          aria-label="Increase reps"
          (click)="incrementReps()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="primary-buttons">
    <button mat-stroked-button color="primary" (click)="goHome()">
      <mat-icon>arrow_back</mat-icon>Done
    </button>
    <button class="button button--primary" mat-flat-button color="primary" (click)="saveSet()">
      Add Set
    </button>
  </div>

  <!-- Display sets -->
  <div *ngIf="setsArray.length > 0" class="sets-container">
    <div *ngFor="let set of setsArray; let i = index">
      <span><strong>Weight:</strong> {{ set.weight }} lbs</span>&nbsp;
      <span><strong>Reps:</strong> {{ set.reps }}</span>
      <button mat-icon-button color="warn" aria-label="Delete set" (click)="deleteSet(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <!-- TODO: add confirmation modal -->
  <button mat-stroked-button color="warn" (click)="removeExercise()">Remove Exercise</button>
</main>
