<main>
  <h1>Sign Up</h1>
  <form (ngSubmit)="signup()" class="login-form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput type="email" name="email" [(ngModel)]="email" required />
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" name="password" [(ngModel)]="password" required />
    </mat-form-field>
    <button class="login-button" mat-flat-button color="primary" type="submit">Sign Up</button>
  </form>
  <div class="signin">
    <span>Already have an account?</span>
    <button class="inline-button" mat-button type="button" (click)="login()">Log In</button>
  </div>
</main>
