/* You can add global styles to this file, and also import other style files */
body {
  font-family: sans-serif;
}

.container {
  max-width: min(64rem, 80%);
  margin: 0 auto;
  min-width: 18rem;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.is-focusable {
  cursor: pointer;
}

.is-focusable:focus-visible {
  outline: none;
  background-color: #efefef;
  box-shadow:
    0 3px 5px -1px #0003,
    0 6px 10px #00000024,
    0 1px 18px #0000001f;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
  text-align: center;
}
