<main>
  <header>
    <h1 class="title">Exercises</h1>
    <button mat-icon-button color="primary" (click)="newExercise()">
      <mat-icon>add</mat-icon>
    </button>
  </header>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Filter exercises</mat-label>
    <input matInput [(ngModel)]="filter" placeholder="Type to filter by name or muscle group" />
  </mat-form-field>
  <div *ngIf="filteredExercises.length > 0; else noExercises">
    <mat-action-list>
      <mat-list-item
        *ngFor="let exercise of filteredExercises"
        class="is-focusable"
        role="button"
        tabindex="0"
        (click)="addWorkoutExercise(exercise.id)"
        (keydown.enter)="addWorkoutExercise(exercise.id)"
        (keydown.space)="addWorkoutExercise(exercise.id); $event.preventDefault()"
      >
        {{ exercise.name }}
      </mat-list-item>
    </mat-action-list>
  </div>
  <button class="add-exercise-button" mat-raised-button color="primary" (click)="newExercise()">
    Add New Exercise
  </button>
  <ng-template #noExercises>
    <p>No exercises found.</p>
  </ng-template>
</main>
